@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(./fonts/Rubik-Regular.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: 'Rubik';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
